.selector {
    width: 90%;
}
.select-elem {
    width: 100%;
    display: block;
    font-size: 14px;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    border-radius: 0px;
    border: none;
}

.select-elem::-ms-expand {
    display: none;
}

.select-elem:focus {
    outline: none;
}

.subselect-text {
    color: #fff;
    font-size: 0.7em;
    font-weight: bold;
    margin-top: 3px;
}
